.header{

    height: 300px;
    background-image: url('az.jpg') ;
    /* background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y; */
    /* background-size: contain; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: 200px; */

}


h3{

    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;

}

.blog{

   margin: 20px;
   border: 10px solid teal;
   box-shadow: 10px 10px 20px blueviolet;


}

.second{
    /* display: none; */
    /* visibility: hidden; */


}
.incident{
    border: 2px solid purple;


}